.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: center;
    width: 100%;
}

.formContainer {
    display: flex;
    gap: 8px;
    margin-top: calc(0px - 25px);
}