.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: center;
    width: 100%;
}

.formContainer {
    display: flex;
    gap: 8px;
    margin-top: calc(0px - 25px);
}

.taskContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container {
    display: flex;
    flex-direction: column;
}

.labelCounterContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}